---
---
{% include lovofit/head.shtml %}

<table class="tabnoborder">
  <tr>
    <td valign=top class="tdclean">
      <code>LovoFit</code> is a package to perform linear fitting of perhaps multidimensional
data sets with the automatic elimination of outliers. The method is
based on Low Order Value Optimization theory. 
      <br><br>
      This software is distributed as FREE software, under the terms of the 
      <a href=http://www.gnu.org/copyleft/gpl.html target="_blank">General Public Licence.</a> 
      Please cite the following reference if it was useful:
      <table align=center><tr><td class="tdclean" bgcolor=lightgrey border=10px>
        &nbsp;&nbsp;&nbsp;
R. Andreani, J. M. Martínez, L. Martínez, F. Yano, <b>Low Order Value
Optimization and Applications.</b> Journal of Global Optimization, 43,
1-22, 2008 
<a href=/main/publications/2008_j_glob_optim.pdf>[PDF]</a>
      </td></tr></table>
      If you have any problem, comment or suggestion regarding this package, please
      contact Leandro Mart&iacute;nez at <a href=mailto:leandro@iqm.unicamp.br>leandro@iqm.unicamp.br</a>.
      Please report bugs!
    </td>
    <td valign=top width=200px class="tdclean">
      <img src=/lovofit/lovofit.png><br>
      <b> Linear fitting with the automatic elimination of outliers.</b>
    </td>
  </tr>
  <tr>
    <td colspan=2 class=tdclean>
<table width=90% align=center>
<tr><td bgcolor=orange colspan=2><b>Download:</b></td></tr>
<tr bgcolor=lightblue><td>File</td><td>Description</td></tr>
{% comment %} NEW_VERSION_HERE {% endcomment %}
<tr><td width=190px valign=top><a href=/lovofit/versions/lovofit.f90> lovofit.f90</a></td><td> First version. </td></tr>
</table>
<br><br>

    </td>

  </tr>
</table>


{% include lovofit/tail.shtml  %}
