---
---
{% include main/head.html %}
{% include main/publications_head.html %}

<table with=100% align=center class=tdclean>
<tr>
<td align=center bgcolor=#e9c46a width=50% class=tdclean><a class=menu2link href=./publications_by_subject.html><b> By Subject </b></a></td>
<td align=center bgcolor=#e9c46a width=50% class=tdclean><a class=menu2link href=./publications_by_date.html><b><u> By Date </u></b></a></td>
</tr>
<tr><td colspan=2>

<table width=95% align=center>

<tr><td width=55px valign=top align=right><b>77.</b></td>
<td valign=top align=left>
F. C. Ramos, L. Martínez,
<b>
Molecular dynamics and solvation structures of the β-glucosidase from Humicola insolens (BGHI) in aqueous solutions containing glucose.
</b>
Int. J. Biol. Macromol. 2024. 
<a target="_blank" href=https://doi.org/10.1016/j.ijbiomac.2024.138210>[Full Text]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>76.</b></td>
<td valign=top align=left>
P. C. C. da Silva, L. Martínez,
<b>
Extended Conformational Selection in the Antigen–Antibody Interaction of the PfAMA1 Protein.
</b>
J. Phys. Chem. B, 2024. 
<a target="_blank" href=https://doi.org/10.1021/acs.jpcb.4c03734>[Full Text]</a>
</td></tr>
 
<tr><td width=55px valign=top align=right><b>75.</b></td>
<td valign=top align=left>
V. Piccoli, L. Martínez,
<b>
Competitive Effects of Anions on Protein Solvation by Aqueous Ionic Liquids.
</b>
J. Phys. Chem. B, 2024. 
<a target="_blank" href=https://pubs.acs.org/doi/10.1021/acs.jpcb.4c03735>[Full Text]</a>
</td></tr>
 
<tr><td width=55px valign=top align=right><b>74.</b></td>
<td valign=top align=left>
P. C. C. da Silva, L. Martínez,
<b>
Intrinsically Disordered Malaria Antigens: An Overview of Structures, Dynamics and Molecular Simulation Opportunities.
</b>
J. Braz. Chem. Soc. 35, 10, e-20240102, 1-21, 2024.
<a target="_blank" href=https://jbcs.sbq.org.br/pdf/2024-0023RV_MedChem>[Full Text]</a>
</td></tr>
 
<tr><td width=55px valign=top align=right><b>73.</b></td>
<td valign=top align=left>
A. F. Pereira, L. Martínez,
<b>
Helical Content Correlations and Hydration Structures of the Folding Ensemble of the B Domain of Protein A.
</b>
J. Chem. Inf. Model. 68, 8, 3350-3359, 2024.
<a target="_blank" href=https://doi.org/10.1021/acs.jcim.3c01822>[Full Text]</a>
<a target="_blank" href=./publications/2024_Pereira_Martinez.pdf>[PDF]</a>
<a target="_blank_" href="https://pubs.acs.org/doi/suppl/10.1021/acs.jcim.3c01822/suppl_file/ci3c01822_si_001.pdf">[Supporting Information]</a>
</td></tr>
 
<tr><td width=55px valign=top align=right><b>72.</b></td>
<td valign=top align=left>
A. F. Pereira, V. Piccoli, L. Martínez,
<b>
Trifluoroethanol direct interactions with protein backbones destabilize
alpha-helices.
</b>
J. Mol. Liq. 365 (2022) 120209.
<a target="_blank" href=https://doi.org/10.1016/j.molliq.2022.120209>[Full Text]</a>
<a target="_blank" href=./publications/2022_Ander_Vinicius.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>71.</b></td>
<td valign=top align=left>
V. Piccoli, L. Martínez,
<b>
Ionic liquid solvation of proteins in native and denatured states.
</b>
J. Mol. Liq. 363 (2022) 119953.
<a target="_blank" href=http://dx.doi.org/10.1016/j.molliq.2022.119953>[Full Text]</a>
<a target="_blank" href=./publications/2022_piccoli.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>70.</b></td>
<td valign=top align=left>
L. Martínez,
<b>
CellListMap.jl: Efficient and customizable cell list implementation for calculation of pairwise particle properties within a cutoff.
</b>
Computer Phys. Commun. 279, 108452, 2022. 
<a target="_blank" href=https://doi.org/10.1016/j.cpc.2022.108452>[Full Text]</a>
<a target="_blank" href=./publications/2022b_martinez.pdf>[PDF]</a>
<a target="_blank" href=https://m3g.github.io/CellListMap.jl>[Associated Software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>69.</b></td>
<td valign=top align=left>
L. Martínez,
<b>
ComplexMixtures.jl: Investigating the structure of solutions of complex-shaped molecules from a solvent-shell perspective
</b>
J. Mol. Liq. 347, 117945, 2022.
<a target="_blank" href=https://doi.org/10.1016/j.molliq.2021.117945>[Full Text]</a>
<a target="_blank" href=./publications/2022_martinez.pdf>[PDF]</a>
<a target="_blank"
href=https://m3g.github.io/ComplexMixtures.jl/stable>[Associated Software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>68.</b></td>
<td valign=top align=left>
G. F. Bottino, A. J. R. Ferrari, F. C. Gozzo, L. Martínez,
<b>
Structural discrimination analysis for constraint selection in protein modeling.
</b>
Bioinformatics, 37(21) 3766-3773, 2021.
<a target="_blank" href=https://doi.org/10.1093/bioinformatics/btab425>[Full Text]</a>
<a target="_blank" href=./publications/2021_bottino.pdf>[PDF]</a>
<a target="_blank"
href=https://github.com/m3g/2021_Bottino_Biserial>[Associated Software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>67.</b></td>
<td valign=top align=left>
M. Soñora, L. Martínez, S. Pantano, M. R. Machado,
<b>
Wrapping Up Viruses at Multiscale Resolution: Optimizing PACKMOL and SIRAH Execution
for Simulating the Zike Virus.
</b>
J. Chem. Inf. Model. 61(1) 408-422, 2021.
<a target="_blank" href=https://doi.org/10.1021/acs.jcim.0c01205>[Full Text]</a>
<a target="_blank" href=./publications/2021_sonora.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>66.</b></td>
<td valign=top align=left>
V. Piccoli, L. Martínez,
<b>
Correlated counterion effects on the solvation of proteins by ionic liquids.
</b>
J. Mol. Liq. 320, 114347, 2020.
<a target="_blank" href=https://www.sciencedirect.com/science/article/pii/S0167732220337247?dgcid=author>[Full Text]</a>
<a target="_blank" href=./publications/2021_piccoli.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>65.</b></td>
<td valign=top align=left>
D. Bustos, M. Bedoya, D. Ramirez, G. Concha, L. Zuñiga, N. Decher, E. W. Hernández-Rodriguez, F. V. Sepúlveda, L. Martínez, W. González, 
<b>
Elucidating the Structural Basis of the Intracellular pH Sensing Mechanism of TASK-2 K<sub>2</sub>P Channels.
</b>
Int. J. Mol. Sci. 21(2), 532, 2020.
<a target="_blank" href=https://www.mdpi.com/1422-0067/21/2/532>[Full Text]</a>
<a target="_blank" href=./publications/2020_bustos.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>64.</b></td>
<td valign=top align=left>
I. P. de Oliveira, L. Martínez,
<b>
The shift in urea orientation at protein surfaces at low pH is compatible with a direct mechanism of protein denaturation.
</b>
Phys. Chem. Chem. Phys. 22, 354-367, 2020.
<a target="_blank" href=https://pubs.rsc.org/en/content/articlelanding/2019/CP/C9CP05196A#!divAbstract>[LINK]</a>
<a target="_blank" href=./publications/2020_oliveira.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>63.</b></td>
<td valign=top align=left>
R. N. Santos, G. F. Bottino, F. C. Gozzo, F. Morcos, L. Martínez,
<b>
Structural Complementarity of Distance Constraints Obtained from Chemical
Crosslinking and Amino Acid Coevolution.
</b>
Proteins, 88(4), 625-632, 2020.
<a target="_blank" href=https://doi.org/10.1002/prot.25843>[Full Text]</a>
<a target="_blank" href=./publications/2019_santos.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>62.</b></td>
<td valign=top align=left>
A. J. Lopez, E. P. Barros, L. Martínez,
<b>
On the interpretation of subtilisin Carlsberg time-resolved fluorescence anisotropy decays: modeling with classical simulations.
</b>
J. Chem. Inf. Model. 60 (2) 747-755, 2020.
<a target="_blank" href=https://doi.org/10.1021/acs.jcim.9b00539>[Full Text]</a>
<a target="_blank" href=./publications/2020_lopez.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>61.</b></td>
<td valign=top align=left>
T. H. Siqueira, L. Martínez,
<b>
Molecular simulations of fluconazole-mediated inhibition of sterol biosynthesis.
</b>
J. Biomol. Struct. Dyn. 38 (6) 1659-1669, 2020.
<a target="_blank" href=https://doi.org/10.1080/07391102.2019.1614998>[Full Text]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>60.</b></td>
<td valign=top align=left>
A. J. R. Ferrari, F. C. Gozzo, L. Martínez,
<b>
Statistical force-field for structural modeling using chemical cross-linking/mass-spectrometry distance constraints.
</b>
Bioinformatics, 35(17), 3005-3012, 2019.
<a target="_blank" href=https://academic.oup.com//bioinformatics/advance-article/doi/10.1093/bioinformatics/btz013/5284907?guestAccessKey=ab5645d5-cea6-4c5d-a512-a9f4bdf69f08>[Full Text]</a>
<a target="_blank"
href=https://m3g.github.io/topolink/xlff.html>[XLFF site]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>59.</b></td>
<td valign=top align=left>
A. J. R. Ferrari, M. A. Clasen, L. Kurt, P. C. Carvalho, F. C. Gozzo, L. Martínez,
<b>
TopoLink: Evaluation of structural models using chemical crosslinking distance constraints. 
</b>
Bioinformatics, 35(17), 3169-3170, 2019.
<a target="_blank" href=https://academic.oup.com//bioinformatics/advance-article/doi/10.1093/bioinformatics/btz014/5284905?guestAccessKey=0093e023-e666-49bc-8d6e-e711d09eba0a>[Full Text]</a>
<a target="_blank"
href=http://m3g.iqm.unicamp.br/topolink>[TopoLink site]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>58.</b></td>
<td valign=top align=left>
L. Campos, P. Zenatti, L. Pissinato, G. Rodrigues,
L. L. Artico, T. Guimarães, L. Archangelo, L. Martínez, A. Brooks, J. A. Yunes,
<b>
Oncogenic basic amino acid insertions at the extracellular juxtamembrane region of IL7Ra cause receptor hypersensitivity.
</b>
Blood, 133, 1259-1263, 2019.
<a target="_blank" href=https://doi.org/10.1182/blood-2018-09-872945>[LINK]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>57.</b></td>
<td valign=top align=left>
R. N. Santos, X. Jiang, L. Martínez, F. Morcos,
<b>
Coevolutionary Signals and Structure-Based Models for the Prediction of Protein Native
Conformations.
</b>
In: Computational Methods in Protein Evolution, Methods in Molecular Biology. vol. 1851. Springer 2019.
<a target="_blank" href=https://doi.org/10.1007/978-1-4939-8736-8_5>[LINK]</a>
{% comment %}<a target="_blank" href=./publications/2017_bioinformatics.pdf>[PDF]</a>{% endcomment %}
</td></tr>

<tr><td width=55px valign=top align=right><b>56.</b></td>
<td valign=top align=left>
L. Censoni, L. Martínez,
<b>
Prediction of kinetics of protein folding with non-redundant contact information.
</b>
Bioinformatics, 34(23), 4034-4038, 2018.
<a target="_blank" href=https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/bty478/5040312?guestAccessKey=84c20efe-3a38-422b-a10f-eca2ca1de781>[LINK]</a>
{% comment %}<a target="_blank" href=./publications/2017_bioinformatics.pdf>[PDF]</a>{% endcomment %}
<a target="_blank"
href=http://github.com/luciano-censoni/sarw-lnkf>[Associated software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>55.</b></td>
<td valign=top align=left>
R. N. dos Santos, A. J. R. Ferrari, H. C. R. de Jesus, F. C. Gozzo, F. Morcos,
L. Martínez,
<b> 
Enhancing protein fold determination by exploring the complementary information 
of chemical cross-linking and coevolutionary signals.
</b>
Bioinformatics, 34(13), 2201-2208, 2018
<a target="_blank" href=https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/bty074/4852827?guestAccessKey=3db403f5-5113-4fb1-9989-eebe04457f57>[LINK]</a>
{% comment %}<a target="_blank" href=./publications/2017_bioinformatics.pdf>[PDF]</a>{% endcomment %}
<a target="_blank" href=https://github.com/m3g/DCAXL>[Associated software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>54.</b></td>
<td valign=top align=left>
A. J. Lopez, L. Martínez,
<b> 
Parametric Models to Compute Tryptophan Fluorescence Wavelengths from Classical
Protein Simulations.
</b>
J. Comp. Chem.  39(19), 1249-1258, 2018 
<a target="_blank" href=http://rdcu.be/HT2g>[Full Text]</a>
<a target="_blank" href=http://onlinelibrary.wiley.com/doi/10.1002/jcc.25188/full>[LINK]</a>
{% comment %}<a target="_blank" href=./publications/2017_pccp.pdf>[PDF]</a>{% endcomment %}
</td></tr>

<tr><td width=55px valign=top align=right><b>53.</b></td>
<td valign=top align=left>
L. Martínez,
<b> 
Measuring the conductivity of very dilute electrolyte solutions, drop by drop.
</b>
Química Nova, 41, 7, 814-817, 2018
<a target="_blank" href=http://dx.doi.org/10.21577/0100-4042.20170216>[LINK]</a>
<a target="_blank" href=http://quimicanova.sbq.org.br/audiencia_pdf.asp?aid2=6768&nomeArquivo=ED20170474MS.pdf>[Supplementary Information]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>52.</b></td>
<td valign=top align=left>
I. P. de Oliveira, G. E. Jara, L. Martínez,
<b> 
Molecular mechanism of activation of <i>Burkholderia cepacia</i> Lipase at aqueous-organic interfaces.
</b>
Phys. Chem. Chem. Phys. 19, 31499-31507, 2017
<a target="_blank" href=http://pubs.rsc.org/en/content/articlelanding/2014/CP/C7CP04466F#!divAbstract>[LINK]</a>
{% comment %}<a target="_blank" href=./publications/2017_pccp.pdf>[PDF]</a>{% endcomment %}
</td></tr>

<tr><td width=55px valign=top align=right><b>51.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, S. Shimizu,
<b> 
Molecular interpretation of preferential interactions in protein
solvation: a solvent-shell perspective by means of 
minimum-distance distribution functions.
 </b>
J. Chem. Theor. Comp. 13, 6358–6372, 2017
<a target="_blank" href=http://pubs.acs.org/doi/abs/10.1021/acs.jctc.7b00599>[LINK]</a>
<a target="_blank" href=./publications/2017_jctc.pdf>[PDF]</a>
<a target="_blank" href=https://m3g.github.io/mdanalysis/gmd>[Associated software]</a>
<a target="_blank" href=./publications/2017_jctc_clarification.pdf>[Additional discussion]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>50.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez,
<b> O Espectro Roto-Vibracional do Ácido Clorídrico,</b>
em "Química em 50 ensaios". L. Tasi&cacute; (org.)
Grupo Átomo e Alínea, 2017.
<a target="_blank" href=http://www.grupoatomoealinea.com.br/quimica-em-50-ensaios.html>[LINK]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>49.</b></td>
<td valign=top align=left>
L. Censoni, H. S. Muniz, L. Martínez,
<b>
A network model predicts the intensity of residue-protein thermal coupling.
</b>
Bioinformatics, 33, 2106-2113, 2017.
<a target="_blank" href=https://doi.org/10.1093/bioinformatics/btx124>[LINK]</a>
<a target="_blank" href=./publications/2017_bioinformatics.pdf>[PDF]</a>
<a target="_blank"
href=https://m3g.github.io/atd-scripts>[Associated software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>48.</b></td>
<td valign=top align=left>
I. P. de Oliveira, L. Martínez,
<b>
Molecular basis for competitive solvation of the <i>Burkholderia cepacia</i> lipase by sorbitol and urea.
</b>
Phys. Chem. Chem. Phys. 18, 21797-21808, 2016.
<a target="_blank" href=./publications/2016_pccp_ivan.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>47.</b></td>
<td valign=top align=left>
G. E. Jara, L. Martínez,
<b>
Anthrax Edema Factor: An Ion-Adaptive Mechanism of Catalysis with Increased Transition State Conformational Flexibility.
</b>
J. Phys. Chem. B,  120 (27), 6504-6514, 2016.
<a target="_blank" href=./publications/2016_jpcb_gabriel.pdf>[PDF]</a>
<a target="_blank" href=./publications/2016_jpcb_gabriel_suppinfo.pdf>[Supplementary Information]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>46.</b></td>
<td valign=top align=left>
M. R. B. Batista, L. Martínez,
<b>
Conformational Diversity of the Helix 12 of the Ligand Binding Domain of PPAR&gamma; 
and Functional Implications.
</b>
J. Phys. Chem. B, 119 (50), 15418-15429, 2015.
<a target="_blank" href=./publications/2015_jpcb.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>45.</b></td>
<td valign=top align=left>
L. Martínez,
<b>
Automatic identification of mobile and rigid substructures in molecular dynamics
simulations and fractional structural fluctuation analysis.
</b>
PLoS ONE 10 (3): e01109264, 2015.
<a target="_blank" href=http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0119264>[LINK]</a>
<a href=https://m3g.github.io/mdlovofit target=blank>[Software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>44.</b></td>
<td valign=top align=left>
L. Martínez,
<b>
Introducing the Levinthal's protein folding paradox and its solution.
</b>
J. Chem. Educ. 91, 1918-1923, 2014. 
<a href=./publications/2014jchemeduc.pdf>[PDF]</a> 
</td></tr>

<tr><td width=55px valign=top align=right><b>43.</b></td>
<td valign=top align=left>
P. C. T. Souza, A. C. Puhl, L. Mart&iacute;nez, R. Aparicio, A. S. Nascimento,
A. C. M. Figueira, P. Nguyen, P. Webb, M. S. Skaf, I. Polikarpov,
<b>
Identification of a New Hormone Binding Site on the Surface of Thyroid Hormone 
Receptor.
</b>
Mol. Endocr. 28(4), 534-545, 2014.
<a href=http://press.endocrine.org/doi/pdf/10.1210/me.2013-1359>[LINK]</a> 
</td></tr>


<tr><td width=55px valign=top align=right><b>42.</b></td>
<td valign=top align=left>
M. R. B. Batista, L. Mart&iacute;nez,
<b>
Dynamics of Nuclear Receptor Helix-12 switch of transcription activation
by modeling time-resolved fluorescence anisotropy decays.
</b>
Biophys. J. 105(7), 1670-1680, 2013.
<a href=./publications/2013_biophys_j.pdf>[PDF]</a> 
<a href=./publications/2013_biophys_j_supp_mat.pdf>[Supplementary Data]</a> 
<a target="_blank"
href=https://m3g.github.io/utils/home.html#modfrac>[Associated Software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>41.</b></td>
<td valign=top align=left>
L. H. F. Lima, V. I. Serpa, F. R. Rosseto, G. R. Sartori, M. O. Neto, L.
Mart&iacute;nez, I. Polikarpov,
<b>
Small-Angle X-ray Scattering and Structural Modeling of Full-Length
Cellobiohydrolase I from Trichoderma harzianum.
</b>
Cellulose 20(4), 1573-1585, 2013.
<a href=./publications/2013_cellulose.pdf>[PDF]</a> 
</td></tr>

<tr><td width=55px valign=top align=right><b>40.</b></td>
<td valign=top align=left>
E. G. Birgin, J. M. Mart&iacute;nez, L. Mart&iacute;nez, G. B. Rocha,
<b>
Sparse projected-gradient method as a linear-scaling low-memory
alternative to diagonalization in self-consistent field electronic
structure calculations.
</b>
J. Chem. Theor. Comput. 9(2), 1043-1051, 2013.
<a href=./publications/2013_j_chem_theor_comput.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>39.</b></td>
<td valign=top align=left>
E. Laine, L. Martínez, D. Ladant, T. E. Malliavin, A. Blondel,
<b>
Molecular Motions as a Drug Target: Mechanistic Simulations of Anthrax Toxin
Edema Factor Function Led to the Discovery of Novel Allosteric Inhibitors.
</b>
Toxins, 4(8), 580-604, 2012.
<a target="_blank" href=http://www.mdpi.com/2072-6651/4/8/580>[LINK]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>38.</b></td>
<td valign=top align=left>
R. L. Silveira, J. Martínez, M. S. Skaf, L. Martínez,
<b>
Enzyme Microheterogeneous Hydration and Stabilization in Supercritical
Carbon Dioxide.
</b>
J. Phys. Chem. B, 116, 5671-5678, 2012.
<a href=./publications/2012_j_phys_chem_b.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>37.</b></td>
<td valign=top align=left>
M. V. Liberato, A. S. Nascimento, S. D. Ayers, J. Z. Lin, R. L.
Silveira, L. Martínez, P. C. T. Souza, D. Saidemberg, T. Deng, A. A.
Amato, M. Togashi, W. A. Hsueh, K. Phillips, M. S. Palma, F. A. R.
Neves, M. S. Skaf, P. Webb, I. Polikarpov, 
<b>
Medium Chain Fatty Acids are Selective Peroxisome Proliferator Activated-&gamma; Activators and Pan-PPAR Partial Agonists.
</b>
PLoS ONE 7(5): e36297, 2012.
<a target="_blank" href=http://dx.doi.org/10.1371/journal.pone.0036297>[LINK]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>36.</b></td>
<td valign=top align=left>
S. E. D. C. Jorge, A. A. Petruk, E. M. Kimura, D. M. Oliveira, L. Caire,
C. N. Sueamasu, P. A. A. Silveira, D. M. Albuquerque, F. F. Costa, M. S.
Skaf, L. Mart&iacute;nez, M. F. Sonati,
<b>
Hb S-S&atilde;o Paulo: a new sickling hemoglobin with stable polymers
and decreased oxygen affinity.
</b>
Arch. Biochem. Biophys, 519, 23-31, 2012.
<a href=./publications/2012_arch_biochem_biophys.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>35.</b></td>
<td valign=top align=left>
N. Duclert-Savatier, L. Mart&iacute;nez, M. Nilges, T. E. Malliavin,
<b>
The redundancy of NMR restraints can be used to accelerate the unfolding
behavior of an SH3 domain during molecular dynamics simulations. 
</b>
BMC Struct. Biol. 11:46, 2011.
<a  target="_blank" href=http://www.biomedcentral.com/1472-6807/11/46>[LINK]</a>
<a target="_blank"
href=https://m3g.github.io/utils/home.html#cylinder>[Associated Software]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>34.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, A. C. M. Figueira, I. Polikarpov, M. S. Skaf,
<b>
Mapping the Intramolecular Vibrational Energy Flow in Proteins Reveals Functionally Important Residues.
</b>
J. Phys. Chem. Lett. 2, 16, 2073-2078, 2011.
<a href=./publications/2011_j_phys_chem_lett.pdf>[PDF]</a>
<a href=./publications/2011_j_phys_chem_lett_supp_info.pdf>[Supplementary Information]</a> 
<a href=https://m3g.github.io/atd-scripts target="_blank"> [Codes] </a>
</td></tr>

<tr><td width=55px valign=top align=right><b>33.</b></td>
<td valign=top align=left>
L. Bleicher, E. Prates, T. Gomes, R. L. Silveira, A. S. Nascimento, A.
Rojas, A. Golubev, L. Mart&iacute;nez, Munir S. Skaf, I. Polikarpov,
<b>
Molecular basis for the thermostability and thermophilicity of
laminarinases: X-ray structure of the hypherthermostable laminarinase
from Rhodothermus marinus and molecular dynamics simulations.
</b>
J. Phys. Chem. B, 115, 7940-7949, 2011.
 <a href=./publications/2011_j_phys_chem_b.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>32.</b></td>
<td valign=top align=left>
P. C. T. Souza, G. B. Barra, L. F. R. Velasco, I. C. J. Ribeiro, L. A.
Simeoni, M. Togashi, P. Webb, F. A. R. Neves, M. S. Skaf, L.
Mart&iacute;nez, I. Polikarpov, 
<b>
Helix 12 dynamics and thyroid hormone receptor's activity: experimental
and molecular dynamics studies of Ile280 mutants.
</b>
J. Mol. Biol. 412, 5, 882-893, 2011.
<a href=./publications/2011_j_mol_biol.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>31.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, T. E. Malliavin, A. Blondel,
<b>
Mechanism of reactant and product dissociation from the Anthrax Edema
Factor: a Locally Enhanced Sampling and Steered Molecular Dynamics Study,
</b>
Proteins, 79, 1649-1661, 2011.
<a href=./publications/2011_proteins.pdf>[PDF]</a> 
<a href=./publications/2011_proteins_supp_info.pdf>[Supplementary Information]</a> 
</td></tr>

<tr><td width=55px valign=top align=right><b>30.</b></td>
<td valign=top align=left>
A. C. M. Figueira, D. M. Saidemberg, P. C. T. Souza, L. Mart&iacute;nez,
T. S. Scanlan, J. D. Baxter, M. S. Skaf, M. S. Palma, P. Webb,
I. Polikarpov,
<b>
Analysis of agonist and antagonist effects on Thyroid Receptor conformation
by Hydrogen/Deuterium-exchange,
</b>
Mol. Endocrinol. 25, 15-31, 2011.
<a href=./publications/2011_mol_endocr.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>29.</b></td>
<td valign=top align=left>
A. Hansson, P. C. T. Souza, R. L. Silveira, L. Mart&iacute;nez, M. S. Skaf,
<b>CHARMM Force Field Parameterization of Rosiglitazone,</b> 
Int. J. Quantum. Chem. 111, 1346-1354, 2011.
<a href=./publications/2011_int_j_quantum_chem.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>28.</b></td>
<td valign=top align=left>
J. M. C. Mondego, M. P. Duarte, E. Kiyota, L. Mart&iacute;nez, 
S. R. Camargo, F. P. Caroli, B. S. C. Alves, S. M. C. Guerreiro, M. L. Oliva, 
O. Guerreiro-Filho, M. Menossi,
<b>
Molecular characterization of a miraculin-like gene differentially
expressed during coffee development and coffee leaf miner infestation,
</b>
Planta, 233, 123-137, 2011.
<a href=./publications/2011_planta.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>27.</b></td>
<td valign=top align=left>
J. B. Francisco, J. M. Mart&iacute;nez, L. Mart&iacute;nez, F. Pisnitchenko,
<b> Inexact Restoration method for minimization problems arising in
electronic structure calculations,</b> Comp. Optimiz. Appl. 50, 555-590, 2011.
<a href=./publications/2011_comp_optim_appl.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>26.</b></td>
<td valign=top align=left>
E. Laine, L. Mart&iacute;nez, A. Blondel, T. E. Malliavin,
<b>Activation of the edema factor of Bacillus anthracis by calmodulin:
Evidence of an interplay between the EF-calmodulin interaction and
calcium binding,</b> 
Biophys. J. 99, 2264-2272, 2010. 
<a href=./publications/2010_biophysj.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>25.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, P. C. T. Souza, W. Silva, R. V. Portugal, A. S. Nascimento,
M. Nakahira, L. M. T. R. Lima, I. Polikarpov, M. S. Skaf,  
<b> On the denaturation mechanisms of the ligand binding domain of
thyroid hormone receptors,</b> 
J. Phys. Chem. B, 114, 1529-1540, 2010.
<a href=./publications/2010_j_phys_chem_b.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><b>24.</b></td>
<td valign=top align=left>
A. S. Araujo, L. Mart&iacute;nez, R. P. Nicolucci, M. S. Skaf, I. Polikarpov,
<b>Structural modeling of high-affinity thyroid receptor-ligand complexes,</b> 
Europ. Biophys. J. 39, 1523-1536, 2010.
<a href=./publications/2010_europ_biophys_j.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>23.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, A. S. Nascimento, F. M. Nunes, K. Phillips, R. Apar&iacute;cio, S.
M. G. Dias, A. C. M. Figueira, J. H. Lin, P. Nguyen, J. W. Apriletti, F.
A. R. Neves, J. D. Baxter, P. Webb, M. S. Skaf, I. Polikarpov,
<b> Gaining Ligand Selectivity in Thyroid Hormone Receptors via
Entropy,</b>
Proc. Natl. Acad. Sci USA, 106, 20717-20722, 2009.
<a href=./publications/2009_pnas.pdf>[PDF]</a>
<a href=./publications/2009_pnas_sup_inf.pdf>[Supplementary Information]</a>
<a target="_blank"
href=https://m3g.github.io/utils/nstates>[Associated software]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>22.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, R. Andrade, E. G. Birgin, J. M. Mart&iacute;nez,
<b> Packmol: A package for building initial configurations for
molecular dynamics simulations,</b>
J. Comp. Chem. 30, 2157, 2009.
<a href=./publications/2009_j_comp_chem.pdf>[PDF]</a>
Associated software: <a target="_blank" href=https://m3g.github.io/packmol>[LINK]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>21.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, E. Laine, T. E. Malliavin, M. Nilges, A. Blondel,
<b> ATP conformation and ion binding modes in the active site of the
Anthrax Edema Factor: A computational analysis,</b>
Proteins 77, 971, 2009.
<a href=./publications/2009_proteins.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>20.</b></td>
<td valign=top align=left>
R. Andreani, J. M. Mart&iacute;nez, L. Mart&iacute;nez, F. Yano,
<b> Low Order Value Optimization and Applications,</b>
J. Glob. Optim. 43, 1-22, 2008.
<a href=./publications/2008_j_glob_optim.pdf>[PDF]</a>
Software associated to this article: 
<a target=_blank_ href=https://m3g.github.io/mdlovofit>MDLovoFit </a>,
<a target=_blank_ href=https://m3g.github.io/lovoalign>LovoAlign</a>,
<a target=_blank_ href=https://m3g.github.io/lovofit>LovoFit</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>19.</b></td>
<td valign=top align=left>
R. Andreani, J. M. Mart&iacute;nez, L. Mart&iacute;nez,
<b> Trust-region superposition methods for protein alignment,</b>
IMA J. Numer. Anal. 28, 690-710, 2008.
<a href=./publications/2008_ima_j_num_anal.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>18.</b></td>
<td valign=top align=left>
R. Andreani, J. M. Mart&iacute;nez, L. Mart&iacute;nez, F. Yano,
<b> Continuous Optimization Methods for Structure Alignment,</b>
Math. Program. Ser. B. 112, 93-124, 2008.
<a href=./publications/2008_math_program.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>17.</b></td>
<td valign=top align=left>
L. Bleicher, R. Apar&iacute;cio, F. M. Nunes, L. Mart&iacute;nez, S. M. G. Dias, A. C.
M. Figueira, M. A. M. Santos, W. H. Venturelli, R. Silva, P. M. Donate,
F. A. R. Neves, L. A. Simeoni, J. D. Baxter, P. Webb, M. S. Skaf, I.
Polikarpov,
<b> Structural basis of GC-1 selectivity for thyroid hormone receptor
isoforms,</b>
BMC Struct. Biol. 8, 8, 2008.
<a  target="_blank" href=http://www.biomedcentral.com/1472-6807/8/8>[LINK]</a>
</td></tr>

<tr><td width=55px valign=top align=right>
<table><tr><td valign=top><b>16.</b></td></tr></table></td>
<td valign=top align=left>
<table><tr><td valign=top>
M. T. Sonoda, L. Mart&iacute;nez, P. Webb, M. S. Skaf, I. Polikarpov,
<b> Ligand Dissociation from Estrogen Receptor Is Mediated by Receptor
Dimerization: Evidence from Molecular Dynamics Simulations,</b>
Mol. Endocrinol. 22, 1565-1578, 2008. 
<a href=./publications/2008_mol_endocr.pdf>[PDF]</a>
</td>
<td valign=top>
<a href=./publications/2008_mol_endo_cover_large.png onClick="return popup(this,'Help')">
<img src=./publications/2008_mol_endo_cover_small.png height=90px>
</a>
</td>
</tr>
</table>
</td></tr>

<tr><td width=55px valign=top align=right><b>15.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, I. Polikarpov, M. S. Skaf,
<b> Only Subtle Protein Conformational Adaptations Are Required for
Ligand Binding to Thyroid Hormone Receptors: Simulations Using a Novel
Multipoint Steered Molecular Dynamics Approach,</b>
J. Phys. Chem. B, 112, 10741-10751, 2008.
<a href=./publications/2008_j_phys_chem_b.pdf>[PDF]</a>
Associated software: <a target="_blank" href=https://m3g.github.io/utils/home.html#pathdriven>[LINK]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>14.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, I. A. Borin, M. S. Skaf,,
<b> Fundamentos de Simulação por Dinâmica Molecular,</b>
em "Métodos de Qu&iacute;mica Teórica e Modelagem Molecular". Eds. N. H.
Morgon e K. Coutinho, Editora Livraria da F&iacute;sica, São Paulo, 2007.
</td></tr>

<tr><td width=55px valign=top align=right><b>13.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, R. Andreani, J. M. Mart&iacute;nez,
<b> Convergent Algorithms for Protein Structural Alignment,</b>
BMC Bioinformatics, 8, 306, 2007.
<a href=./publications/2007_bmc_bioinf.pdf>[PDF]</a>
Associated software: <a target="_blank" href=https://m3g.github.io/lovoalign>[LINK]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>12.</b></td>
<td valign=top align=left>
J. B. Francisco, J. M. Mart&iacute;nez, L. Mart&iacute;nez,
<b> Density-based globally convergent trust-region methods for
self-consistent field electronic structure calculations,</b>
J. Math. Chem. 40, 349-377, 2006.
<a href=./publications/2006_j_math_chem.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>11.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, P. Webb, M. S. Skaf, I.  Polikarpov,
<b> Molecular Dynamics Simulations of Ligand Dissociation from Thyroid
Hormone Receptors: Evidence for the Likeliest Escape Pathway and Its
Implications for the Design of Novel Ligands,</b>
J. Med. Chem. 49, 23-26, 2006.
<a href=./publications/2006_j_med_chem.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>10.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, M. T. Sonoda, P. Webb, J. D. Baxter, M. S. Skaf, I.
Polikarpov,
<b> Molecular Dynamics Simulations Reveal Multiple Pathways of Ligand
Dissociation from Thyroid Hormone Receptors,</b>
Biophys. J. 89, 2011-2023, 2005.
<a href=./publications/2005_biophys_j.pdf>[PDF]</a>
</td></tr>



<tr><td width=55px valign=top align=right><b>9.</b></td>
<td valign=top align=left>
M. T. Sonoda, N. H. Moreira, L. Mart&iacute;nez, F. W. Favero, S. M. Vechi, L.
R. Martins, M. S. Skaf,
<b> A review on the dynamics of water,</b>
Braz. J. Phys. 34, 3-15, 2004.
<a href=./publications/2004_braz_j_phys.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>8.</b></td>
<td valign=top align=left>
J. B. Francisco, J. M. Mart&iacute;nez, L. Mart&iacute;nez,
<b> Globally convergent trust-region methods for self-consistent field
electronic structure calculations,</b>
J. Chem. Phys. 121, 10863-10878, 2004.
<a href=./publications/2004_j_chem_phys.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>7.</b></td>
<td valign=top align=left>
J. M. Mart&iacute;nez, L. Mart&iacute;nez, 
<b> Packing Optimization for Automated Generation of Complex System's
Initial Configurations for Molecular Dynamics and Docking,</b>
J. Comp. Chem. 24, 819-825, 2003.
<a href=./publications/2003_j_comp_chem.pdf>[PDF]</a>
Associated software: <a target="_blank" href=https://m3g.github.io/packmol>[LINK]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>6.</b></td>
<td valign=top align=left>
R. Farias, U. Arnold, L. Mart&iacute;nez, U. Schuchardt, M. J. D. M. Janini, 
C. Airoldi, 
<b> Synthesis, characterization and catalytic properties of sol-gel
derived mixed oxides,</b>
J. Phys. Chem. Solids 64, 2385-2389, 2003.
<a href=./publications/2003_j_phys_chem_solids.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>5.</b></td>
<td valign=top align=left>
L. Mart&iacute;nez, Robson F. de Farias, C. Airoldi, 
<b> Thermochemical data on adducts of copper chloride with the amino
acids lysine and glycine,</b>
Thermochim. Acta 395, 21-26, 2003. 
<a href=./publications/2003_therm_acta.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>4.</b></td>
<td valign=top align=left>
R. Farias, L. Mart&iacute;nez, C. Airoldi, 
<b> Synthesis, characterization and a thermogravimetric study of
copper, cobalt and tin mono- and bis-adducts with ethyleneurea,
ethylenethiourea and propyleneurea,</b>
Trans. Met. Chem. 27, 748-750, 2002. 
<a href=./publications/2002b_trans_met_chem.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>3.</b></td>
<td valign=top align=left>
R. Farias, L. Mart&iacute;nez, C. Airoldi, <b> A calorimetric investigation
into copper-arginine and copper-alanine solid state interactions,</b>
Trans. Met. Chem. 27, 253-255, 2002. 
<a href=./publications/2002a_trans_met_chem.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>2.</b></td>
<td valign=top align=left>
R. Farias, L. Mart&iacute;nez, C. Airoldi, 
<b> Synthesis, characterization and thermal behavior of 18 cadmium
halides adducts involving ethyleneurea, ethylenethiourea and
propyleneurea,</b>
Thermochim. Acta 376, 91-94, 2001.
<a href=./publications/2001_therm_acta.pdf>[PDF]</a>
</td></tr>


<tr><td width=55px valign=top align=right><b>1.</b></td>
<td valign=top align=left>
R. Farias, L. Mart&iacute;nez, C. Airoldi, 
<b> Decrease of interlamellar spacing of silica samples induced by
external pressure,</b>
J. Non-Cryst. Solids, 276, 56-60, 2000.
<a href=./publications/2000_j_non_cryst_solids.pdf>[PDF]</a>
</td></tr>

<tr><td width=55px valign=top align=right><br><br><br><b><li></b></td>
<td valign=top align=left>
<br><br><br>L. Mart&iacute;nez
<b> Simulações de Dinâmica Molecular dos Receptores do Hormônio Tireoidiano. </b>
Tese de Doutorado.
<a href=./publications/tese.pdf>[PDF]</a>
</td></tr>

</table>
{% include main/tail.html %}
