{% comment %}Lateral Menu {% endcomment %}

<table width=100% align=center>
  <tr>
    <td class="tdclean" valign="top">
      <table width=140px align=center>
        <tr>
          <td class="tdclean0" height=0px></td>
        </tr>
        <tr>
          <td bgcolor=#e76f51 class=tdmenu>
            <b>Main:</b> <br>
          </td>
        </tr>
        <tr>
          <td class=tdmenu>
            <a class=menulink href=/main/home.html>Home</a><br>
            <a class=menulink href=/main/people.html>People</a><br>
            <a class=menulink href=/main/bysubject.html>Publications</a><br>
            <a class=menulink href=/main/software.html>Software</a><br>
            <a class=menulink href=/main/contact.html>Contact</a><br>
          </td>
        </tr>
        <tr>
          <td class="tdclean0" height=30px></td>
        </tr>
        <tr>
          <td class="tdmenu" bgcolor=#e9c46a align=center>
            <b><a class=menutitlelink href=/main/didatico.html>Material Didático</a></b> <br>
          </td>
        </tr>
        </tr>
      </table>
    </td>

{% comment %}Top content menu {% endcomment %}

    <td class="tdclean" width=100% valign="top">
     <table width=100% align=center>
       <tr bgcolor=#264653>
         <td align=center width=33% class=tdmenu><b><a class="menulink" href=/main/home.html>
             <font color=#e9c46a>Home</font>
         </a></b> </td>
         <td align=center width=33% class=tdmenu><b><a class="menulink" href=/main/bysubject.html>
             <font color=#e9c46a>Publications</font>
         </a></b> </td>
         <td align=center width=33% class=tdmenu><b><a class="menulink" href=/main/software.html>
             <font color=#e9c46a>Software</font>
         </a></b> </td>
       </tr>
       <tr>
         <td colspan=3 class=tdmenu>

          <table class="tabnoborder" align=center width=100%>
          <tr><td class="tdclean">


