<div class="pick-container" id="research-pick"></div>
<script>
(function() {
  var picks = [
    {
      text: "Osmolyte structural and thermodynamic effects accross the protein folding landscape.",
      link: "https://pubs.acs.org/doi/10.1021/jacsau.5c00813",
      img: "/main/page_images/pereira2025.png"
    },
    {
      text: "CellListMap.jl: Computing custom pairwise interactions",
      link: "https://m3g.github.io/CellListMap.jl",
      img: "/main/picks/celllistmap.svg"
    },
    {
      text: "Statistical force-field for XL distance constraints.",
      link: "https://doi.org/10.1093/bioinformatics/btz013",
      img: "/main/picks/xlff.png"
    },
    {
      text: "Cation Hydrophobicity Effects on Protein Solvation in Aqueous Ionic Liquids.",
      link: "https://pubs.acs.org/doi/10.1021/acs.jpcb.5c00779",
      img: "/main/publications/2025_jpcb_capa.png"
    },
    {
      text: "Solvation structure of complex solutes by means of minimum distance distribution functions.",
      link: "http://m3g.iqm.unicamp.br/ComplexMixtures",
      img: "https://m3g.github.io/packmol/highlights/mddf.png"
    },
    {
      text: "Automatic identification of mobile substructures in protein MD simulations.",
      link: "https://m3g.github.io/mdlovofit",
      img: "https://m3g.github.io/packmol/mdlovofit.png"
    },
    {
      text: "TopoLink: Find the shortest path at a protein surface for XL evaluation.",
      link: "https://m3g.github.io/topolink",
      img: "/main/picks/topolink_drawing.png"
    },
    {
      text: "Molecular Basis for Solvation Structure and Thermodynamics of Polyacrylamide in Aqueous Solutions of Glucose.",
      link: "https://pubs.acs.org/doi/10.1021/acs.macromol.5c03031",
      img: "/main/page_images/mourao2026.jpg"
    }
  ];
  
  var pick = picks[Math.floor(Math.random() * picks.length)];
  var container = document.getElementById('research-pick');
  
  container.innerHTML = 
    '<h3 class="pick-title">Research Pick</h3>' +
    '<p class="pick-text">' + pick.text + '</p>' +
    '<p class="pick-link-wrapper"><a href="' + pick.link + '" target="_blank" class="pick-link">[click here]</a></p>' +
    '<img src="' + pick.img + '" alt="Research highlight" class="pick-image">';
})();
</script>
