<section class="page-section publications-section">
  <header class="section-header">
    <h2 class="section-title">Publications</h2>
    <nav class="section-links profile-links">
      <a target="_blank" href="https://scholar.google.com.br/citations?user=4eLEzHAAAAAJ&hl=en">Google Scholar</a>
      <a target="_blank" href="https://www.webofscience.com/wos/author/record/B-3792-2008">Researcher ID</a>
      <a target="_blank" href="http://orcid.org/0000-0002-6857-1884">ORCID</a>
      <a target="_blank" href="https://www.researchgate.net/profile/Leandro_Martinez4">Research Gate</a>
    </nav>
  </header>

