<header class="site-header">
  <div class="header-inner">
    <a href="/main/logo.html" class="logo">
      <img src="/main/logo/m3g.svg" alt="M3G Logo">
    </a>
    <div class="header-text">
      <h1>Martínez Molecular Modeling Group</h1>
      <p>Institute of Chemistry and Center for Computing in Engineering and Science</p>
      <p>University of Campinas</p>
    </div>
    <div class="partner-logos">
      <a href="http://cces.unicamp.br" target="_blank"><img src="/main/page_images/cces.png" alt="CCES"></a>
      <a href="http://www.iqm.unicamp.br" target="_blank"><img src="/main/page_images/logo_iq.jpg" alt="IQ UNICAMP"></a>
    </div>
  </div>
</header>
