---
---
{% include topolink/head.html %}

<code><b>XLFF</b></code> is a statistical force-field for modeling protein structure using chemical
cross-linking distance constraints.

<br><br>
The Rosetta implementation of the force field can be obtained from the
github repository:
<br><br>
<center>
<a target=_blank_
href=https://github.com/mcubeg/xlff/tree/master/Rosetta>
https://github.com/mcubeg/xlff/tree/master/Rosetta
</a>
</center>
<br>
<b>Reference:</b><br>
A. J. R. Ferrari, F. C. Gozzo, L. Martínez,
<i>Statistical force-field for structural modeling using chemical cross-linking/mass-spectrometry
distance constraints.</i> 2017.
<br><br>
</td>

<td class=tdclean width=30%>
<img src=./figure.png width=400px><br>
The statistical maximum linker-lengths and full statistical
potentials improve significantly the probablity of obtaining
correctly folded structures.
</td>
</tr>

{% include topolink/tail.html %}




